.sidebarRow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;

  padding: 10px 20px;
}

.sidebarRow:hover {
  background-color: #eee;
  cursor: pointer;

  border-radius: 10px;
}

.sidebarRow__icon {
  color: gray;
  font-size: 1.5rem !important;
}

.sidebarRow:hover
.sidebarRow__icon {
  color: red;
}

.sidebarRow__title {
  flex: 1;
  font-size: 1rem;
  font-weight: 500;
}

.sidebarRow:hover
.sidebarRow__title {
  font-weight: 700;
}

/** Selected styles */
.sidebarRow.selected {
  background-color: lightgray;
  border-radius: 10px;
}

.sidebarRow.selected
.sidebarRow__icon {
  color: red;
}

.sidebarRow.selected
.sidebarRow__title {
  font-weight: 700;
}